html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  /* padding: 20px; */
}

.footer {
  background-color: var(--grey);
  color: var(--white);
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.banner {
  background-color: var(--navy-blue);
  color: var(--white);
  text-align: center;
  padding: 60px 0;
}

.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form, .map-container {
  width: 100%;
  max-width: 800px;
  margin: 20px;
  padding: 20px;
  background-color: var(--white);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
